parameters:
	ignoreErrors:
		-
			message: "#^The Composer\\\\Semver\\\\Constraint\\\\AbstractConstraint abstract class is deprecated, there is no replacement for it, it will be removed in the next major version\\.$#"
			count: 1
			path: src/Constraint/AbstractConstraint.php

		-
			message: "#^Call to an undefined method Composer\\\\Semver\\\\Constraint\\\\AbstractConstraint\\:\\:matchSpecific\\(\\)\\.$#"
			count: 1
			path: src/Constraint/AbstractConstraint.php

		-
			message: "#^Parameter \\#1 \\$provider of method Composer\\\\Semver\\\\Constraint\\\\Constraint\\:\\:matches\\(\\) expects Composer\\\\Semver\\\\Constraint\\\\ConstraintInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 2
			path: tests/Constraint/ConstraintTest.php

		-
			message: "#^Call to an undefined method Composer\\\\Semver\\\\Constraint\\\\ConstraintTest\\:\\:setExpectedException\\(\\)\\.$#"
			count: 1
			path: tests/Constraint/ConstraintTest.php

		-
			message: "#^If condition is always true\\.$#"
			count: 4
			path: tests/VersionParserTest.php

